<div class="container">
    <!-- <div class="col-md-4"></div> -->
    <select class="from-control" (change)="getProductValue($event)">
        <option value="Laptop">Laptop</option>
        <option value="Mobile">Mobile</option>
        <option value="Tv">Tv</option>
        <option value="Machine">Machine</option>
    </select>
    <div class="col-md-12">
        <h1 class="text-success"Laptop></h1>
        <h1 class="text-success"Mobile></h1>
        <h1 class="text-success"Tv></h1>
        <h1 class="text-success"Machine></h1>

    </div>
</div>